<div class="intro">
  <div class="photo-perfil">
  </div>
  <div class="text">
    <div class="subtext">
      Hello World! Meu nome é <span>Bruno Toniatti</span> e sou
    </div>
    <div class="title">
      Desenvolvedor Full-Stack
    </div>
    <div class="resume">
      Transformo necessidades em aplicações reais, evolventes e funcionais. Desenvolvo sistemas através da minha paixão
      pela tecnologia, contribuindo com soluções inovadoras e eficazes para desafios complexos.
    </div>
  </div>
  <div class="skills">
    <div class="item" *ngFor="let s of skills">
      <img src="{{ s.img }}" alt="{{ s.title }}">
      <p>{{ s.title }}</p>
    </div>
  </div>
  <div class="see-more">
    <a class="scroll-down" href="#projects">
      <span>Leia mais</span>
      <span class="arrow"><img src="../../../assets/img/arrow.png" alt="Flecha"></span>
    </a>
  </div>
</div>
