@import '../../../styles/variables';

.intro {
  background-image: url(../../../assets/img/intro.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .photo-perfil {
    border: 3px solid $blue-primary;
    width: 150px;
    height: 150px;
    background-image: url('../../../assets/img/perfil.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 2px 2px 20px $blue-primary;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 700px;

    .subtext {
      color: $secondary-text-color;
      font-weight: 300;

      span {
        color: $blue-primary;
      }
    }

    .title {
      color: $secondary-text-color;
      font-size: 50px;
      font-weight: 800;
    }

    .resume {
      color: $secondary-text-color;
      font-weight: 100;
    }
  }

  .skills {
    display: flex;
    gap: 10px;

    .item {
      background-color: $secondary-color;
      display: flex;
      align-items: center;
      padding: 5px 11px;
      border-radius: 20px;
      gap: 5px;

      img {
        height: 40px;

      }

      p {
        color: $secondary-text-color;
      }
    }
  }
}

/* Responsivo pra telas menores */
@media (max-width: 768px) {
  .intro {
    gap: 30px;
    overflow: hidden;

    .text {
      .title {
        font-size: 30px;
      }

      .subtext,
      .resume {
        font-size: 14px;
      }
    }

    .photo-perfil {
      width: 120px;
      height: 120px;
    }

    .skills .item {
      padding: 4px 9px;

      img {
        height: 28px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 450px) {
  .intro {
    padding: 10px;

    .text {
      width: 350px;

      .title {
        font-size: 24px;

      }

      .subtext,
      .resume {
        font-size: 12px;
      }
    }

    .photo-perfil {
      width: 100px;
      height: 100px;
    }

    .skills{
      flex-wrap: wrap;
    }
  }
}
